li.dropdown
  = link_to "", { class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button" } do
    = current_username.capitalize
    span.caret
  ul#nav-account-options.dropdown-menu role="menu" 
    li#nav-account= link_to "Account", edit_user_registration_path
    li#nav-logout= link_to "Log out", destroy_user_session_path, method: :delete
