li.dropdown
  = link_to "#", { class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button" } do
    | Categories
    span.caret
  ul.dropdown-menu.nav-category-links role="menu" 
    - categories.each do |category|
      li= link_to category.name, search_path("category[]" => category.slug)
