li
  = link_to "#", { class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button" } do
    | My Rivyr
    span.caret
  ul#nav-my-rivyr.dropdown-menu role="menu" 
    li= link_to "My Stream", root_path
    li.divider
    li.dropdown-header Products
    - current_user.products.each do |product|
      li= link_to product.name, product_path(product)
