form#search-form.navbar-form.navbar-right role="search" 
  .form-group
    input#typeahead.form-control placeholder=("#{params[:q] || 'Search for products...'}") type="text" /
  button#search-submit.btn.btn-default type="submit" 
    i.icon.icon-search-find
