nav.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      /! Brand and toggle get grouped for better mobile display
      .navbar-header
        == render "toggle_button"
        = link_to "rivyr", root_path, class: "navbar-brand"
      /! Collect the nav links, forms, and other content for toggling
      #navbar-collapse-1.collapse.navbar-collapse
        == render "search"
        ul.nav.navbar-nav.navbar-left
          - if user_signed_in?
            == render "account"
            == render "my_river"
          - else
            li= link_to "Sign Up", new_user_registration_path, id: "nav-signup"
            li= link_to "My Rivyr", new_user_session_path, id: "nav-signin"
          == render "category_list"
      /! /.navbar-collapse
  /! /.container
