footer.col-xs-12
  .container.footer-content
    .row
      .col-xs-12.copyright
        div class='pull-left'
          p Copyright © 2015 Rivyr
        #social class='pull-right'
          a href="#{configatron.social.facebook_url}" target="_blank"
            i#social.social-fb.icon.icon-facebook-square
          a href="#{configatron.social.twitter_url}" target="_blank"
            i#social.social-tw.icon.icon-twitter-square
          a href="#{configatron.social.google_plus_url}" target="_blank"
            i#social.social-gp.icon.icon-google-plus
