div class=("row #{controller_name} #{action_name}") 
  == cell(:sidebar, @sidebar_cells).show(current_user: current_user, title: @product.name)
  .col-xs-12.col-sm-9.comments
    == @droplet_cell.mast
    - if user_signed_in?
      = form_for [@droplet, @comment], html: { class: 'col-xs-12' } do |f|
        = f.text_area :body, class: 'col-xs-12', rows: 4
        = f.submit "submit", class: 'pull-right'
    - else
      .box.col-xs-12
        span>= link_to "Log In to comment", product_droplet_path(@product, @droplet, force_auth: true) 
    #comments.col-xs-12.col-sm-9
      == cell(:comment_thread, @comments)
