- droplets.each do |update|
  table.mobile-width border="0" cellpadding="0" cellspacing="0" style=("border-collapse: collapse;") width="590" 
    tr
      td valign="top" 
        table.mobile-width align="left" border="0" cellpadding="0" cellspacing="0" style=("border-collapse: collapse;") width="230" 
          tr
            td style=("padding-left: 15px; padding-right: 15px; padding-top: 40px;") valign="top" 
              img.mobile-width alt="" height="150" src="#{routes.product_thumb_url(id: update.product_id, style: "200x150", format: 'png', host: host)}" style=("vertical-align: top;") /
        /![if mso] </td><td valign="top"
        table.mobile-width align="left" border="0" cellpadding="0" cellspacing="0" style=("border-collapse: collapse;") width="360" 
          tr
            td style="padding-left: 15px; padding-right: 15px; padding-top: 40px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 26px; color: #707582; text-align: left;" valign="top" 
              div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; line-height: 28px; color: #292c34; font-weight: bold;"
                = update.title
              div style="font-size: 6px; line-height: 6px; mso-line-height-rule: exactly;"  &nbsp;
              div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px; line-height: 22px; letter-spacing: 1px; text-transform: uppercase;"
                = update.created_at.strftime("%B %e, %Y")
              div style="font-size: 12px; line-height: 12px; mso-line-height-rule: exactly;"  &nbsp;
              /! Button
              table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; display: inline-block;"
                tr
                  td style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;"
                    a href="https://www.rivyr.com#{routes.product_droplet_path(update.product, update)}" style="padding: 8px 20px; display: inline-block; border: 1px solid #007EDF; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: normal; color: #007EDF; font-weight: bold; text-decoration: none;" target="_blank" 
                      /![if mso] &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                      | View Comments
                      /![if mso] &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;

  table.mobile-width border="0" cellpadding="0" cellspacing="0" style=("border-collapse: collapse;") width="590" 
    tr
      td style=("padding-left: 15px; padding-right: 15px;") 
        table.mobile-width border="0" cellpadding="0" cellspacing="0" style=("border-collapse: collapse;") width="560" 
          tr
            td style=("padding-top: 40px; border-bottom: 1px solid #e0e0e0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;")  &nbsp;
