div class=("row #{controller_name} #{action_name}") 
  == cell(:sidebar, @sidebar_cells).show(current_user: current_user, title: "Search Results")
  .col-xs-12.col-sm-9.results
    ul.col-xs-12
      - @products.each_with_index do |product, index|
        = link_to product_path(product)
          li class="col-xs-12 col-sm-12  #{'last' if (index + 1) % 3 == 0}"
              .media-left
                = image_tag product.vanity_safe.image.thumb('30x30').url
              .media-body
                p= product.name
