li
  = link_to 'javascript:;', class: "cmp-follow-link", data: { product_id: @product.id, following: following? }  do
    span class=("follow-icon grow icon icon-heart #{"following" if following?}") 
    = @text
