.box
  .ad
    - if !@current_user || @current_user.products.count == 0
      div class="icon icon-heart"
      div
        | Follow products you love to create your own personalized update stream!
    - else
      div class="icon icon-smile"
      div Leave a comment,<br/> grow a community!
