#comment-droplet class=("col-xs-12 pull-left droplet #{type_slug}") 
  div class=("droplet-label #{type_slug}")
    h2.droplet-title= title
    p.droplet-content= content
    div
      - if source && source_url
        span= link_to source, source_url, class: 'label label-default'
      span.label.label-default=< "#{time_ago_in_words(created_at)} ago"
      span.label.label-default=< type_name.downcase
