li.droplet
  .droplet-head.col-xs-12
    .droplet-time.pull-left
      div= time_ago_in_words(created_at, locale: :en_abbrev)
      div= date
    .droplet-icon-container
      i class=("round-icon #{type_slug} icon icon-#{icon}") 

  div class=("droplet-label #{type_slug}")
    - if @brand_header
      .droplet-brand-header
        p
          = link_to product_path(product) do
            = image_tag vanity.image.thumb('30x30').url, onerror: "this.src='assets/default_vanity_small.jpg'"
            => product.name
          span= "- #{type_name}"
    - unless last
      .droplet-connector

    h2.droplet-title= link_to title, title_url, data: { "gtm-event" => "ga-event", "ga-category" => "stream", "ga-action" => "click", "ga-label" => "title-link" }
    p.droplet-content= content
    div
      span= link_to pluralize(cached_comments_total, 'comment'), product_droplet_path(product, model), class: "label label-default"
      - if source && source_url
        span=< link_to source, source_url, class: 'label label-default'
