- if @droplets.empty?
  #welcome-panel.col-xs-12
    h2 You aren't following any products yet!
    p Try and search for a product you love to get started.
- else
  div class=("row #{controller_name} #{action_name}") 
    == cell(:sidebar, @sidebar_cells).show(current_user: current_user, title: "My Stream")
    == @stream.show(brand_headers: true)
