.col-xs-12.col-sm-6.col-sm-offset-3
  = bootstrap_devise_error_messages!
  .panel.panel-default
    .panel-heading
      h4= t('.change_your_password', :default => 'Change your password')
    .panel-body
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f|
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, t('.new_password', :default => 'New password')
          = f.password_field :password, autofocus: true, class: "form-control"
        .form-group
          = f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password')
          = f.password_field :password_confirmation, class: "form-control"
        = f.submit t('.change_my_password', :default => 'Change my password'), class: "btn btn-primary"
  = render "devise/shared/links"
