body {
  background: $background;
}

/* Alerts */
.full-alert {
  position: relative;
  top: 50px;
}

/* Forms */

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea, input {
  border: 1px solid darken($gray-light, 10);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid darken($gray-light, 25);
}

/* Labels */

.label {
  border-radius: 0px;
  padding: 3px 5px;
  font-weight: normal;
  font-size: 65%;
  color: white !important;
}

a.label-default {
  background-color: $gray;
  &:hover {
    background-color: darken($gray, 10) !important;
  }
}

/* Icons */

.icon:before {
  position: relative;
  top: 4px;
}

.icon-comment:before {
  left: 1px;
}

/* Buttons */

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: $gray-dark;
	background-color: $gray-lighter;
	border-color: #adadad;
}

.pagination {
  margin-top: 0px;

  a {
    margin-left: 5px;
  }

  .spacer {
    margin-left: 5px;
  }
}

/* Components */

#main-content {
  margin-top: 80px;
	margin-bottom: 30px;
}

ul.large-list {
  & > li {
    margin-bottom: $list-item-spacing;
  }
}

.list-item {
  margin-bottom: $list-item-spacing;
}

.box {
  border: 1px dashed $gray;
  padding: 10px;
  text-align: center;
  color: $gray;
}

.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-default > .panel-heading {
  background: $content-background;
}

.grow:hover {
  transform: scale(1.15);
  /* Browser Variations: */
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -o-transform:scale(1.15); 
}

.follow-icon {
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $gray-dark;

  &.following {
    color: $color-brand;
  }
}

