/* Responsive */
$screen-lg-min: 9999px;

/* Colors */
$background: #efefef;
$content-background: white;
$gray-base: #000;
$gray: lighten($gray-base, 55%);
$gray-light: #dedfe7;
$gray-lighter: #fafbfb;

$color-orange: #ff0000;
$color-red: #d9007e;
$color-purple: #8800cc;
$color-blue: #2200cc;
$color-lightblue: #007edf;
$color-green: #00ae00;

$color-brand: $color-lightblue;

$review: $color-orange;
$comparison: $color-red;
$rumor: $color-purple;
$announcement: $color-blue;
$general: $color-lightblue;
$price-change: $color-green;

$link-color: black;
$link-color-light: #999;

$tm-bg-color: white;

/* Components */
$list-item-spacing: 20px;
$list-item-narrow-spacing: calc(#{$list-item-spacing} / 2);

/* Forms */
$border-radius-base: 0px;
$search-width: 200px;

/* Navbar */
$navbar-default-bg: #fff;
$navbar-default-link-color: #333;

/* Dropdowns */
$dropdown-link-hover-bg: $gray-lighter;
$navbar-default-link-active-bg: $gray-lighter;

/* labels */
$label-default-bg: #aaa;

/* Typography */
$font-family-brand: 'Roboto';
$font-family-sans-serif: 'Helvetica', sans-serif;
$headings-font-family: "Roboto";

$font-size-base: 14px;
$font-size-small: floor($font-size-base * 0.9);
$font-size-h1: floor($font-size-base * 2.7);
$font-size-h2: floor($font-size-base * 1.4);
