li.cmmnt
  .media
    .media-left
      = gravatar_image_tag(user.email, gravatar: { size: 34 })
    .media-body.commnt-content
      header.commnt-header
        span.author-link= user.username
        span.pubdate< • #{time_ago}
      p.commnt-body= body
      /.commnt-footer
      /  span.vote-total= cached_votes_total
      /  span.vote-up= fa_icon "arrow-up"
      /  span.vote-separator |
      /  span.vote-down= fa_icon "arrow-down"
      /  span.dot •
      /  span.reply reply
