/! Header Wrap
section class=("row #{controller_name} #{action_name}")
  .headerwrap
    .container
      .row.text-center
        .col-sm-12
          h1
            | Welcome To
            b< Rivyr
          h3 Get updates on products you love!
          br/
        .col-sm-2.hidden-xs
          p Hand picked, chronological updates; everything you need to know, to stay in the know.
          img alt="" src="//rivyr-public.s3.amazonaws.com/arrow-left.png" /
        .col-sm-8
          img.img-responsive alt="" src="//rivyr-public.s3.amazonaws.com/rivyr-bg.gif" /
        .col-sm-2.hidden-xs
          img.pad-top alt="" src="//rivyr-public.s3.amazonaws.com/arrow-right.png" /
          p Filter your stream to see only reviews, price changes, rumors, and more about your favorite products.
