.row.sb-filters
  h4 Filters
  ul
    - @filters.each do |filter|
      li data-filter="#{filter.slug}" 
        = link_to filter_link(filter.slug) do
          div class="round-icon grow icon icon-#{filter.icon} #{filter.slug} #{"off" if filter_off?(filter.slug)}"
          span.filter-text
            = "#{filter.name} (#{filter.count})"
