li
  - if @url
    = link_to @url, data: { "gtm-event" => "ga-event", "ga-category" => "product-actions", "ga-action" => "click", "ga-label" => "buy-link" }
      span.icon.grow.icon-shopping-cart
      = model ? humanized_money_with_symbol(model) : "Buy Now"
  - elsif model
    span.icon.icon-shopping-cart
    = humanized_money_with_symbol(model)
