.droplets.show {
  #comment-droplet {
    padding: 0px;
    margin-bottom: $list-item-narrow-spacing;
  }

  .comments {
    & > div {
      margin-bottom: $list-item-spacing;
    }
  }

  form {
    float: left;
    padding: 0px;
  }

  textarea, input {
    font-size: $font-size-small;
    margin-bottom: 10px;
    padding-top: 8px;
  }

  input[type=submit] {
    border-radius: $border-radius-base;
    background: $gray-lighter;
  }

  input[type=submit]:hover {
    background: darken($gray-lighter, 8);
  }
}

#comments {
  padding-left: 0px;
  font-size: $font-size-small;

  ul {
    list-style-type: none;
  }

  & > ul {
    padding-left: 0px;   
  }

  .cmmnt {
    .media {
      margin-bottom: 20px;
      .media-left {
        padding-top: 3px;
      }
      
      img {
        border-radius: $border-radius-base;
      }
    }

    .commnt-content {
      .pubdate {
        font-size: floor($font-size-small * 0.9);
        color: darken($gray-light, 15);
      }

      .author-link {
        font-weight: bold;
      }

      .commnt-body {
        margin-bottom: 3px;
      }

      .commnt-footer {
        color: darken($gray-light, 10);
        font-size: floor($font-size-small * 0.9);

        .vote-up,
        .vote-down,
        .dot,
        .reply,
        .vote-total,
        .vote-separator {
          margin-right: 7px;
        }
      } 
    }
  }
}
