#welcome-panel {
  text-align: center;
  border: 5px dashed $gray;
  padding: 20px;
}

.droplet-head {
  float: left;
  margin-bottom: 10px;
  padding: 0px; 
  line-height: 20px;

  .droplet-time {
    padding-left: 0px;
    width: 65px;

    :first-child {
      font-size: 14px;
      color: $gray;
    }

    :last-child {
      font-size: 14px;
    }
  }

  .droplet-icon-container {
    padding-right: 0px;
  }

  .round-icon {
    height: $tm-icon-dimension;
    line-height: $tm-icon-dimension;
    width: $tm-icon-dimension;
    float: right;
    font-size: .9em;
  }
}

.droplet-label {
  background: $tm-bg-color;
  border-radius: $border-radius-base;
  float: left;
  padding: 15px 20px;
  position: relative;
	border-top: 2px solid black;

  &.review { 
		border-color: $review;
		a { color: $review };
	}

  &.price-change { 
		border-color: $price-change;
		a { color: $price-change };
	}

  &.rumor { 
		border-color: $rumor;
		a { color: $rumor };
	}

  &.comparison { 
		border-color: $comparison;
		a { color: $comparison };
	}

  &.announcement { 
		border-color: $announcement;
		a { color: $announcement };
	}

  &.general {
		border-color: $general;
		a { color: $general };
	}

  h2 {
    margin-top: 0;
    padding: 0;
  }

  .droplet-brand-header {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 15px;
    font-size: floor($font-size-base * .95);

		a {
			color: $link-color-light;
		}


    p {
      margin-bottom: 10px;
    }

    img {
      float: left;
      border-radius: 4px;
      margin-right: 10px;
      position: relative;
      top: -5px;
    }
  }
}

.droplets.show {
  .droplet-label {
    width: 100%;
  }
}

@media (min-width: $screen-sm) {
  .droplet-head {
    width: $tm-head-width;

    .round-icon {
      float: left;
      margin-right: 20px;
      margin-left: 10px;
    }
  }

  .droplet-label {
    width: calc(100% - #{$tm-head-width});

    .droplet-connector {
      background: $tm-bg-color;
      height: 100%;
      left: -48px;
      position: absolute;
      top: 25px;
      width: 8px;
      z-index: -1;
    }

    .droplet-pointer {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; 
      border-right:8px solid $tm-bg-color; 
      position: absolute;
      top: 15px;
      left: -16px;
    }
  }
}
