footer {
  .footer-content {
    padding: 20px;
    font-size: 14px; 
  
    .copyright {
      border-top: 1px solid $gray-light;
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}

#social {
  font-size: 20px;
  color: $gray-dark;
  position: relative;
  top: -2px;

  a:hover,a:focus {
    text-decoration: none;
  }

  .social-fb:hover {
    color: #3B5998;
  }
  .social-tw:hover {
    color: #4099FF;
  }
  .social-gp:hover {
    color: #d34836;
  }
}

