.navbar-default {
  font-size: 14px;
  margin-bottom: 0px;
	border-color: white;

  :focus, :active {
    outline: none !important;
  }

  .btn, .form-control {
    font-size: inherit;
		padding: 7px 12px;
  }

  .navbar-form {
    border-top: 0px;

    .form-group {
      width: $search-width;
    }

    .btn-default {
      border: 0px;
      border-radius: 20px;
    }

    .form-control {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 0 0 1px solid #ccc;
      border-radius: 0px;
      width: $search-width;

      &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }

  .dropdown-menu > li > a {
    font-size: 14px;
  }

  .navbar-brand {
    color: #000;
    font-family: $font-family-brand;
    font-size: 22px;
    line-height: 28px;
    padding: 10px 16px;
  }

  @media (max-width: $screen-sm) {
    .col-xs-12 {
      padding: 0px;
    }
  }
}
