$round-icon-size: 36px;
$round-icon-dimension: calc(#{$round-icon-size} - 12px);

.round-icon {
  -webkit-font-smoothing: antialiased;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px $tm-bg-color;
  color: #fff;
  font-size: .8em;
  height: $round-icon-dimension;
  line-height: $round-icon-dimension;
  text-align: center;
  width: $round-icon-dimension;
  margin: 6px 6px 0 0;
  float: left;
  background: $color-brand;

  &.review { background: $review; }
  &.price-change { background: $price-change; }
  &.rumor { background: $rumor; }
  &.comparison { background: $comparison; }
  &.announcement { background: $announcement; }
  &.general { background: $general; }

  &.off { 
    background: $gray;
  }
}

.sb-filters {
  $icon-fade: 20;
  .review:hover { background: lighten($review, $icon-fade) !important };
  .price-change:hover { background: lighten($price-change, $icon-fade) !important };
  .rumor:hover { background: lighten($rumor, $icon-fade) !important };
  .comparison:hover { background: lighten($comparison, $icon-fade) !important };
  .announcement:hover { background: lighten($announcement, $icon-fade) !important };
  .general:hover { background: lighten($general, $icon-fade) !important };
}
  
