.search {
  .results {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .last {
        margin-right: 0px;
      }

      li {
        background: $content-background;
        border-radius: $border-radius-base;
        border: 1px solid #ddd;
        float: left;
        margin-right: 10px;
        margin-bottom: $list-item-narrow-spacing;
        padding: 15px 20px;

        &:hover {
          background: lighten($gray-lighter, 1);
        }

        p {
          margin-bottom: 0px;
          margin-top: 4px;
        }
      }
    }
  }
}
