#sidebar {
  a {
    color: #000;
    border-bottom: none;
  }

  h1 {
    font-size: $font-size-h3;
    margin: 0px; 
  }

  h4 {
    border-bottom: 1px dashed $gray-dark;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }

  .row {
    margin: 0 0 20px 0;
  }

  li {
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0px;
  }

  .icon-edit-write:before {
    top: 4px;
  }

  .ad {
    .icon {
      font-size: 48px;
    }

    padding: 10px 0;
  }

  .sb-filters {
    .icon:before {
      top: 3px;
    }

    > ul {
      list-style: none;
      margin: 15px 0px;
      padding: 0px;
      font-size: 1.0em;
      line-height: 1.3em;
    
      li {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0px;
        }

        .icon {
          margin: 0 13px 0 0;
					position: relative;
          top: -2px;
        }

        .filter-text {
          position: relative;
        }
      }
    }
  }

  .sb-action-items {
    > ul {
      list-style: none;
      float: left;
      margin: 0px;
      padding: 0px;
      font-size: 1.3em;
      line-height: 1.3em;
    
      li {
        .icon {
          margin-right: 8px;
          display: inline-block;
        }
      }
    }
  }

  @media (max-width: $screen-sm) {
    h1 {
      font-size: floor(($font-size-base * 2.0));
    }

		.box {
			display: none;
		}
  }
}
