@charset "UTF-8";

@font-face {
  font-family: "rivyr";
  src:font-url("rivyr.eot");
  src:font-url("rivyr.eot?#iefix") format("embedded-opentype"),
    font-url("rivyr.woff") format("woff"),
    font-url("rivyr.ttf") format("truetype"),
    font-url("rivyr.svg#rivyr") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rivyr" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rivyr" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "a";
}
.icon-comment:before {
  content: "e";
}
.icon-graph-bar:before {
  content: "d";
}
.icon-search-find:before {
  content: "f";
}
.icon-shopping-cart:before {
  content: "g";
}
.icon-dollar:before {
  content: "b";
}
.icon-camera:before {
  content: "c";
}
.icon-phone-mobile:before {
  content: "h";
}
.icon-arrows-compress:before {
  content: "i";
}
.icon-rss:before {
  content: "j";
}
.icon-facebook-square:before {
  content: "k";
}
.icon-twitter-square:before {
  content: "l";
}
.icon-google-plus:before {
  content: "m";
}
.icon-cube:before {
  content: "n";
}
.icon-laptop:before {
  content: "o";
}
.icon-clock:before {
  content: "p";
}
.icon-edit-write:before {
  content: "q";
}
.icon-tablet:before {
  content: "r";
}
.icon-news:before {
  content: "s";
}
.icon-smile:before {
  content: "t";
}
