doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag "//rivyr-public.s3.amazonaws.com/favicon.ico"
    link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    = csrf_meta_tags
    = javascript_tag do
      | window.js_env = #{raw js_env.to_json}
  body
    = render 'shared/gtm'
    header
      == cell(:navbar).show(current_user: current_user)
      = flash_messages
    #main-content.container
      = yield
    == cell(:footer)
    /! Javascripts
    = javascript_include_tag 'application'
    = yield :javascripts_footer if content_for :javascripts_footer
    /! end / Javascripts
