.col-xs-12.col-sm-6.col-sm-offset-3
  = bootstrap_devise_error_messages!
  .panel.panel-default
    .panel-heading
      h4= t('.title', :resource => resource_class.model_name.human , :default => 'Edit Account')
    .panel-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        .form-group
          = f.label "Email Frequency"
          = f.select :email_frequency, User::EMAIL_FREQUENCIES, autofocus: true, class: "form-control"
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password
          i
            | (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
          br/
          = f.password_field :password, :autocomplete => "off", class: "form-control"
        .form-group
          = f.label :password_confirmation
          br/
          = f.password_field :password_confirmation, class: "form-control"
        = f.submit t('.update', :default => "Update"), class: "btn btn-primary"
  p
    = t('.unhappy', :default => 'Unhappy')
    | ? #{link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
  = link_to "Back", :back
