.col-xs-12.col-sm-6.col-sm-offset-3
  = bootstrap_devise_error_messages!
  .panel.panel-default
    .panel-heading
      h4= t('.sign_up', :default => "Sign up")
    .panel-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :username
          = f.text_field :username, autofocus: true, class: "form-control"
        .form-group
          = f.label :password
          br/
          = f.password_field :password, class: "form-control"
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"
        = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary"
  = render "devise/shared/links"
